@import '../css/forMobile/mobileVersion.css' (min-width: 576px);
@import '../css/forTablet/tabletVersion.css' (min-width: 768px);
@import '../css/forLaptop/laptopVersion.css' (min-width: 992px);

* {
    margin: 0;
}

/* error section ----------------------------------- */

#error-mobileVersion {
    width: 100%;
    height: 100%;
    background-color: #00bcd4;
    position: fixed;
    color: white;
    z-index: 10;
}

#error-mobileVersion h1,#error-mobileVersion p {
    margin: 10%;
}

#error-mobileVersion h1 {
    font-size: 5em;
}
#error-mobileVersion p {
    font-size: 3em;
}

/* ----------------------------------------------- */

.dailogBox {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: #0000001f;
    visibility: hidden;
}

.dailogBox section {
    border: 1px solid #d5cfcf;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
}

.dailogBox_inputs {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dailogBox_inputs input {
    border-radius: 3px;
    font: inherit;
    padding: 10px;
    width: 110px;
    outline: none;
    border-color: #00000066;
}

#canvas_size_dailogBox {
    visibility: hidden;
}

/* -------------------------------------- */

@font-face {
    font-family: 'Comfortaa-VariableFont_wght';
    src: url('../font-style/Comfortaa-VariableFont_wght.ttf');
}

body {
    background-color: rgb(205, 205, 205);
    font-family: 'Comfortaa-VariableFont_wght' ,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
}

nav {
    min-height: 70px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .5px solid gray;
    box-shadow: 0px -1px 3px black;
    z-index: 3;
    position: sticky;
    top: 0;
}

.nav-left strong {
    font-size: 4vmax;
    /* font-weight: 900; */
    color: #008500;
    padding-left: 24px;
    /* animation: fade 2s ease infinite alternate; */
}

.nav-left p {
    display: inline;
    font-size: 2.8vmax;
    /* animation: fade 1.5s ease 1.5s infinite alternate; */
}

.nav-left {
    animation: fade 1.5s ease infinite alternate;
}

@keyframes fade {
    to {
        opacity: 0;
    }
}

.nav-right {
    margin: 0px 24px;
}

.nav-right ul {
    padding: 0;
}

.nav-right ul li {
    margin: 0px 3px;
}

.undo-redo, .save-buttons {
    display: inline-flex;
}

.undo-redo {
    border-right: 1px solid #afafaf;
}

#undo-button, 
#redo-button,
#done-button,
#download-button,
#reset-button,
#settings-button {
    stroke: none;
    fill: #adabab;
}

#undo-button:hover, 
#redo-button:hover,
#done-button:hover,
#download-button:hover,
#reset-button:hover,
#settings-button:hover {
    fill: black;
    cursor: pointer;
}

/* -------------------------------------------------- */

.controls {
    /* display: inline-block; */
    position: fixed;
    width: 85px;
    height: 100%;
    background-color: white;
    z-index: -1;
    display: flex;
    justify-content: center;
}

main {
    position: relative;
    left: 100px;
    width: calc(100% - 100px);
    /* z-index: -1; */
}

.path-command-controls {
    display: flex;
    padding: 15px 4%;
    justify-content: space-between;
}

.path-command-controls button {
    border-radius: 5px;
    border: 1px solid rgb(189 189 189);
    background-color: white;
    cursor: pointer;
    width: 100%;
    margin: 5px;
    box-shadow: 0px 0px 46px -15px #858585;
    font-family: inherit;
    padding: 10px;
    position: relative;
}

.path-command-controls button svg {
    border: 1px solid #bfbfbf;
    border-radius: inherit;
    width: 100%;
    margin: 0px auto;
    display: block;
    height: 50px;
}

.path-command-controls button p{
    position: absolute;
    opacity: 0;
    font-size: 15px;
    color: #9a9a9a;
    width: 70%;
    background-color: black;
    border-radius: 10px;
    color: white;
    translate: 5% 15px;
    transition: all .5s ease;
    padding: 6px;
}

.path-command-controls button:hover p {
    opacity: 1;
    visibility: visible;
}

.svg_coordinates {
    display: flex;
    font-size: 10px;
    justify-content: space-around;
    align-items: center;
    width: 10%;
}

#coordinates {
    background-color: white;
    width: fit-content;
    padding: 10px;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    /* position: fixed; */
}

#mainCanvasContainer {
    user-select: none;
    margin: auto;
    width: 50%;
    height: 60vh;
    background-color: white;
    /* border-radius: 10px; */
    border: 0.1px solid #b5b5b5;
    /* width: fit-content; */
}

#mainSVG {
    user-select: none;
    height: 100%;
    width: 100%;
}
